*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}
@media (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar main";
  }
  .container--sidebar {
    grid-area: "sidebar";
  }
  .container--main {
    grid-area: "main";
  }
}
.container--sidebar {
  position: relative;
  background-color: hsl(35, 60%, 96%);
}
.container--sidebar--logo {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid hsl(36, 22%, 86%);
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container--sidebar--logo .menu-btn {
  position: relative;
  background-color: transparent;
  border: 2px solid hsl(36, 22%, 86%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .container--sidebar--logo .menu-btn {
    display: none;
  }
}
.container--sidebar--logo .menu-btn .btn-open,
.container--sidebar--logo .menu-btn .btn-close {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.container--sidebar--logo .menu-btn .btn-open {
  opacity: 1;
  transform: scale(1);
}
.container--sidebar--logo .menu-btn .btn-close {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}
body:has(#menu-popover:popover-open) .menu-btn .btn-open {
  opacity: 1;
  transform: scale(0);
  pointer-events: none;
}
body:has(#menu-popover:popover-open) .menu-btn .btn-close {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

@media (min-width: 768px) {
  .container--sidebar--menu--popover:popover-open {
    display: flex;
    border: none;
    background-color: hsl(35, 60%, 96%);
  }
}
.container--sidebar--menu--popover:popover-open {
  background-color: hsl(35, 60%, 96%);
  border: none;
}
@media (min-width: 768px) {
  .container--sidebar--menu--popover {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: hsl(35, 60%, 96%);
  }
}
.container--sidebar--menu--popover {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
}
.container--sidebar--menu--popover ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  height: 100vh;
  padding: 1.1rem;
  border-bottom: 2px solid hsl(36, 22%, 86%);
}
.container--sidebar--menu--popover ul .active {
  background-color: hsl(0, 0%, 100%);
  color: #000;
}
.container--sidebar--menu--popover ul li:nth-of-type(1) {
  display: flex;
  position: relative;
}
.container--sidebar--menu--popover ul li:nth-of-type(1) span {
  position: absolute;
  right: 1.1rem;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: hsl(15, 69%, 37%);
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
}
.container--sidebar--menu--popover ul li {
  font-family: "DM Mono", serif;
  padding: 1.1rem;
  border-radius: 0.4rem;
  color: hsl(33, 17%, 41%);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.6s ease-in-out;
}
.container--sidebar--menu--popover ul li:active, .container--sidebar--menu--popover ul li:hover {
  background-color: hsl(0, 0%, 100%);
  color: #000;
  box-shadow: 0 0 8px hsl(36, 22%, 86%);
}
.container--sidebar--menu--popover--local-weather {
  padding: 1.1rem;
}
.container--sidebar--menu--popover--local-weather .card {
  width: 100%;
  font-family: "DM Mono", serif;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 0.4rem;
  border-radius: 0.4rem;
  background-color: hsl(45, 100%, 74%);
  padding: 1.1rem;
  overflow: hidden;
}
.container--sidebar--menu--popover--local-weather .card::after {
  position: absolute;
  top: -30px;
  right: 0;
  content: url("../assets/images/icon-weather.svg");
}
.container--sidebar--menu--popover--local-weather .card p:first-child {
  text-transform: uppercase;
}
.container--sidebar--menu--popover--local-weather .card span {
  font-size: 1.8em;
}
.container--sidebar--menu--popover--local-weather pre {
  font-family: "DM Mono", serif;
  font-size: 11px;
  margin-left: 0;
  padding-left: 0;
  margin-block: 1.1rem;
  color: hsl(33, 17%, 41%);
  line-height: 1.8;
}
.container--main {
  background-color: hsl(35, 60%, 96%);
  padding: 1.1rem;
}
.container--main--header p {
  font-family: "DM Mono", serif;
  text-transform: uppercase;
  font-size: 14px;
}
.container--main--header--h1-btn {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin-block: 1.1rem;
}
@media (min-width: 768px) {
  .container--main--header--h1-btn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.container--main--header--h1-btn h1 {
  color: hsl(33, 15%, 15%);
}
.container--main--header--h1-btn h1 .different {
  color: hsl(15, 74%, 41%);
}
.container--main--header--h1-btn .header-btn {
  display: flex;
  gap: 1.1rem;
}
.container--main--header--h1-btn .header-btn button {
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid hsl(36, 22%, 86%);
  border-radius: 1.1rem;
  color: hsl(33, 15%, 15%);
}
.container--main--header--h1-btn .header-btn button:nth-child(2) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(33, 15%, 15%);
}
.container--main--header--h1-btn .header-btn button:hover {
  border-color: hsl(22, 72%, 56%);
}
.container--main--booking-cards {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.1rem;
  margin-block: 1.1rem;
}
@media (min-width: 768px) {
  .container--main--booking-cards {
    flex-direction: row;
    justify-content: center;
  }
}
.container--main--booking-cards .card {
  flex: 0 0 100%;
  padding: 1.1rem;
  border-radius: 1.1rem;
}
@media (min-width: 768px) {
  .container--main--booking-cards .card {
    flex: 0 0 300px;
  }
}
.container--main--booking-cards .host-card {
  position: relative;
  background-image: linear-gradient(45deg, hsl(15, 69%, 37%), hsl(18, 62%, 47%));
  color: hsl(0, 0%, 100%);
  box-shadow: 0 0 12px hsl(15, 69%, 37%);
  transform: rotate(5deg);
}
.container--main--booking-cards .host-card::after {
  position: absolute;
  top: 25px;
  right: 12px;
  content: url("../assets/images/icon-sun.svg");
}
.container--main--booking-cards .host-card h4 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.8rem 0;
  border-top: 1px dashed;
}
.container--main--booking-cards .host-card h3.special {
  margin-block: 1rem;
  color: hsl(42, 83%, 58%);
}
.container--main--booking-cards .host-card h2 {
  color: hsl(0, 0%, 100%);
}
.container--main--booking-cards .host-card p {
  margin-block: 1.1rem;
  color: hsl(0, 0%, 100%);
}
.container--main--booking-cards .host-card span {
  display: block;
  margin-block-start: 2rem;
}
.container--main--booking-cards .receipt-card {
  background-color: hsl(0, 0%, 100%);
  transform: rotate(-5deg);
  box-shadow: 0 0 12px hsl(36, 22%, 86%);
}
.container--main--booking-cards .receipt-card .receipt-card-1 {
  display: flex;
  justify-content: space-between;
  gap: 1.1rem;
  margin-block-end: 1.1rem;
  border-bottom: 1px dashed hsl(36, 22%, 86%);
}
.container--main--booking-cards .receipt-card .receipt-card-1 div {
  margin-block-end: 1.1rem;
}
.container--main--booking-cards .receipt-card .receipt-card-1 div span {
  display: block;
  color: hsl(36, 22%, 86%);
}
.container--main--booking-cards .receipt-card .receipt-card-2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed hsl(36, 22%, 86%);
  margin-block-end: 1.1rem;
}
.container--main--booking-cards .receipt-card .receipt-card-2 article {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-block-end: 1.1rem;
}
.container--main--booking-cards .receipt-card .receipt-card-3 {
  border-bottom: 1px solid hsl(36, 22%, 86%);
}
.container--main--booking-cards .receipt-card .receipt-card-3 div {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.container--main--booking-cards .receipt-card .receipt-card-4 {
  display: flex;
  margin-block-start: 0.8rem;
  gap: 2.2rem;
}
.container--main--booking-cards .receipt-card .receipt-card-4 div {
  line-height: 2;
}
.container--main--booking-cards .receipt-card .receipt-card-4 div p {
  color: hsl(36, 22%, 86%);
}/*# sourceMappingURL=style.css.map */